<a id="call-breakdown-detail"
   href="#call-breakdown" 
   data-toggle="collapse" 
   aria-expanded="false" 
   aria-controls="call-breakdown">
	<div class="row h3 breakdown-heading">
		<div class="col-xs-8 col-sm-7">Calls</div>
		<div class="col-xs-3 text-right">{{bill.callCharges.total | currency:"£":2}}</div>
		<div class="col-xs-1"><i class="fa fa-angle-right"></i></div>
	</div>
</a>

<div id="call-breakdown" class="collapse">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-9 col-sm-offset-1">
			<table class="table table-hover h4">
				<tbody>
			    <tr ng-repeat="call in bill.callCharges.calls">
			    	<td>{{call.called}}</td>
			    	<td class="text-center">{{call.duration}}</td>
			    	<td class="text-right">{{call.cost | currency:"£":2}}</td>
			    </tr>
				</tbody>
			</table>
		</div>
	</div>
</div>